@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

:root {
  --primary-dark: #f5f5f5;
  --bg-dark: #111111;
  --primary-light: #111111;
  --bg-light: whitesmoke;
  --highlight: #6cace4;
  --divider: rgb(164, 164, 164);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--bg-light);
  color: var(--primary-light);
  transition: all 0.5s ease-in-out;
}
.background {
  z-index: -1;
  width: 100vw;
  height: 100vh;
  position: absolute;
  opacity: 0.2;
  background-image: url("/assets/nnnoise.svg");
  background-repeat: repeat;
}
.light {
  background-color: var(--bg-dark);
  color: var(--primary-dark);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-height: 100vh;
}

a,
p {
  font-size: 1.1rem;
}
